<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/home/index.css" />
  </head>
  <body>
    <div class="content">
      <h1>Today <span class="date">26 Dec</span></h1>
      <div class="grid-box">
        <div
          class="box health"
          style="background-color: rgba(121, 144, 248, 0.1)"
        >
          <img class="icon1" src="../assets/image/heart.png" alt="heart" />
          <span>6</span> Health
        </div>
        <div class="box work" style="background-color: rgba(70, 207, 139, 0.1)">
          <img class="icon1" src="../assets/image/suitcase.png" alt="work" />
          <span>5</span> Work
        </div>
        <div
          class="box mental-health"
          style="background-color: rgba(188, 94, 173, 0.1)"
        >
          <img
            class="icon2"
            src="../assets/image/hearth.png"
            alt="mental-health"
          />
          <span>4</span> Mental Health
        </div>
        <div
          class="box others"
          style="background-color: rgba(144, 137, 134, 0.1)"
        >
          <img class="icon2" src="../assets/image/folder.png" alt="others" />
          <span>13</span> Others
        </div>
      </div>

      <div class="todo-container" id="taskList">
        <!-- تسک‌ها اینجا به صورت داینامیک اضافه خواهند شد -->
      </div>

      <div class="floating-box">
        <a href="../template/new-task.html">
          <img src="../assets/image/plus.png" alt="plus icon" />
        </a>
      </div>
    </div>

    <script src="../js/home.js"></script>
  </body>
</html>
