<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New task-Empty</title>
    <link rel="stylesheet" href="../css/new-task-empty/index.css" />
  </head>
  <body>
    <div class="header">
      <div class="time"><a href="../template/new-task-active.html" target="_blank">9:41</a></div>
      <div class="icons">
        <img src="../assets/image/signal.png" alt="Battery" />
        <img src="../assets/image/wifi.png" alt="WiFi" />
        <img src="../assets/image/battery.png" alt="Signal" />
      </div>
    </div>

    <div class="cross">
      <img src="../assets/image/cross.png" alt="cross icon" />
    </div>

    <h1 class="head">Write a new task...</h1>

    <button class="btn">Save</button>
    <button class="clock">
      <img src="../assets/image/clock grey.png" alt="clock" />
    </button>
  </body>
</html>
