<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New task-Empty</title>
    <link rel="stylesheet" href="../css/new-task-empty/index.css" />
  </head>
  <body>
    <div class="cross">
      <a href="../template/home.html">
        <img src="../assets/image/cross.png" alt="cross icon"
      /></a>
    </div>

    <input class="head" type="text" placeholder="Write a new task..." />

    <button class="btn">Save</button>
    <button class="clock">
      <img src="../assets/image/clock grey.png" alt="clock" />
    </button>
  </body>
</html>
