<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New task-Active</title>
    <link rel="stylesheet" href="../css/new-task-active/index.css" />
  </head>
  <body>
    <div class="header">
      <div class="time"><a href="../template/with-date.html" target="_blank">9:41</a></div>
      <div class="icons">
        <img src="../assets/image/signal.png" alt="Battery" />
        <img src="../assets/image/wifi.png" alt="WiFi" />
        <img src="../assets/image/battery.png" alt="Signal" />
      </div>
    </div>

    <div class="cross">
      <img src="../assets/image/cross.png" alt="cross icon" />
    </div>

    <h1 class="head">Stretch everyday for 15 mins</h1>

    <div class="todo-container">
      <div class="todo-item">
        <input type="checkbox" id="task3" />
        <label for="task3">Add subtask</label>
      </div>
    </div>
    <div class="box-container">
      <div class="box">HEALTH</div>
      <div class="box">WORK</div>
      <div class="box">MENTAL HEALTH</div>
    </div>

    <button class="btn">Save</button>
    <button class="clock">
      <img src="../assets/image/clock.png" alt="clock" />
    </button>

    <div class="keyboard-container">
      <div class="top-bar">
        <div class="arrow">
          <img src="../assets/image/up.png" alt="Arrow Up" />
          <img src="../assets/image/down.png" alt="Arrow Down" />
        </div>

        <span class="done">Done</span>
      </div>
      <div class="keyboard">
        <div class="row">
          <button>Q</button><button>W</button><button>E</button
          ><button>R</button><button>T</button> <button>Y</button
          ><button>U</button><button>I</button><button>O</button
          ><button>P</button>
        </div>
        <div class="row">
          <button>A</button><button>S</button><button>D</button
          ><button>F</button><button>G</button> <button>H</button
          ><button>J</button><button>K</button><button>L</button>
        </div>
        <div class="row">
          <button class="shift">⇧</button><button>Z</button><button>X</button
          ><button>C</button> <button>V</button><button>B</button
          ><button>N</button><button>M</button>
          <button class="emoji">😀</button>
        </div>
        <div class="row space-row">
          <button class="gray">123</button><button class="gray">@</button>
          <button class="space">Space</button>
          <button class="return gray">Return</button>
        </div>
      </div>
    </div>
  </body>
</html>
