<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New task-Active</title>
    <link rel="stylesheet" href="../css/new-task-active/index.css" />
  </head>
  <body>
    <div class="cross">
      <img src="../assets/image/cross.png" alt="cross icon" />
    </div>

    <h1 class="head">Stretch everyday for 15 mins</h1>

    <div class="todo-container">
      <div class="todo-item">
        <input type="checkbox" id="task3" />
        <label for="task3">Add subtask</label>
      </div>
    </div>
    <div class="box-container">
      <div class="box">HEALTH</div>
      <div class="box">WORK</div>
      <div class="box">MENTAL HEALTH</div>
    </div>

    <button class="btn">Save</button>
    <button class="clock">
      <img src="../assets/image/clock.png" alt="clock" />
    </button>
  </body>
</html>
