<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Task Page</title>
    <link rel="stylesheet" href="../css/view-task/index.css" />
  </head>
  <body>
    <div class="cross">
      <img src="../assets/image/cross.png" alt="cross icon" />
    </div>

    <h1 class="head">Stretch everyday for 15 mins</h1>

    <div class="todo-container">
      <div class="todo-item">
        <input type="checkbox" id="task1" />
        <label for="task1">Get a notebook</label>
      </div>
      <div class="todo-item">
        <input type="checkbox" id="task2" />
        <label for="task2">Follow the YouTube tutorial</label>
      </div>
      <div class="todo-item">
        <input type="checkbox" id="task3" />
        <label for="task3">Add subtask</label>
      </div>
    </div>

    <button class="btn">Save</button>
  </body>
</html>
