<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>With dates</title>
    <link rel="stylesheet" href="../css/with-dates/index.css" />
  </head>
  <body>
    <div class="content">
      <h1>Today <span class="date">26 Dec</span></h1>

      <div class="todo-container">
        <div class="todo-item">
          <input type="checkbox" id="task1" />
          <label for="task1">Drink 8 glasses of water</label>
        </div>
        <div class="category health">HEALTH</div>
        <div class="category time">
          <img src="../assets/image/time.png" alt="time" /> 6:00 AM
        </div>
        <hr class="separator" />

        <div class="todo-item">
          <input type="checkbox" id="task2" />
          <label for="task2">Edit the PDF</label>
        </div>
        <div class="category work">WORK</div>
        <hr class="separator" />

        <div class="todo-item">
          <input type="checkbox" id="task3" />
          <label for="task3">Write in a gratitude journal</label>
        </div>
        <div class="category mental">MENTAL HEALTH</div>
        <hr class="separator" />

        <div class="todo-item">
          <input type="checkbox" id="task4" />
          <label for="task4">Stretch everyday for 15 mins</label>
        </div>
        <div class="category health">HEALTH</div>
        <div class="category time">
          <img src="../assets/image/time.png" alt="time" /> 6:00 AM
        </div>
        <hr class="separator" />
      </div>

      <div class="floating-box">
        <img src="../assets/image/plus.png" alt="plus icon" />
      </div>
    </div>
  </body>
</html>
