@use "../components/base.scss";
@use "../components/nav.scss";
@use "../components/plus.scss";
@use "../components/list.scss";

.content {
  .date {
    color: rgb(182, 181, 181);
    font-weight: 400;
    margin-left: 10px;
  }
}

