/* دکمه Save */
.btn {
  width: 386px;
  height: 60px;
  margin-top: 550px;
  margin-left: 30px;
  border-radius: 12px;
  background-color: #393433;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  position: absolute;
}
