@font-face {
  font-family: "inter";
  src: url(../assets/font/static/SourceSans3-Medium.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "inter";
  src: url(../assets/font/static/SourceSans3-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "inter";
  src: url(../assets/font/static/SourceSans3-Bold.ttf) format("truetype");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "inter";
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.header .time {
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  padding-top: 12px;
  margin-right: 350px;
}

.header .icons {
  display: flex;
  gap: 4px;
  padding-left: 21px;
  padding-top: 12px;
}

.header .icons img {
  width: 11px;
  height: 11px;
}

.cross {
  margin-left: 390px;
  padding-top: 16px;
}

.head {
  font-family: inter;
  font-weight: 400;
  width: 350px;
  font-size: 36px;
  margin-top: 56px;
}

.todo-container {
  padding-right: 70px;
  font-family: inter;
  font-size: 17px;
  font-weight: 400;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.todo-item:last-child label {
  color: #d6d6d6;
}

.todo-item input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}

/* دکمه Save */
.btn {
  width: 386px;
  height: 60px;
  margin-top: 550px;
  margin-left: 30px;
  border-radius: 12px;
  background-color: #393433;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  position: absolute;
}

/* استایل کیبورد */
.keyboard-container {
  position: relative; /* تغییر از absolute به relative */
  margin-top: 180px; /* ایجاد فاصله ۲۰px از دکمه Save */
  width: 450px;
  padding-left: 40px;
}

/* نوار بالای کیبورد */
.top-bar {
  width: 450px;
  height: 45px;
  background-color: #dee0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #000;
}

.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.arrow img {
  width: 12px;
  height: 12px;
  cursor: pointer;
  padding-left: 10px;
}

.done {
  color: rgb(70, 70, 249);
  cursor: pointer;
  padding-right: 10px;
}

/* زمینه کیبورد */
.keyboard {
  width: 450px;
  background-color: #d1d3d4;
  padding: 10px 0;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}

button {
  width: 10%;
  height: 50px;
  margin: 3px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 0 2px #bdbdbd;
}

.shift {
  width: 15%;
}

.space-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space {
  flex: 2;
  margin: 0 10px;
  height: 50px;
}

.gray {
  background-color: #bdbdbd;
  width: 15%;
  height: 50px;
}

.return {
  width: 20%;
  height: 50px;
}

.emoji {
  width: 15%;
  height: 50px;
  background-color: #bdbdbd;
}
